<ion-content [fullscreen]="true" class="map-page-viewport">
  <div class="map-render-canvas">
    <div #mapContainer class="map-dom-container"></div>

    <div class="map-error-banner" *ngIf="mapLoadError">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p>{{ mapLoadError }}</p>
    </div>
  </div>

  <ion-button class="close-map-button" fill="solid" (click)="closeMap()">
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    Live Telemetry
  </ion-button>
</ion-content>
