<ion-app>
  <ion-menu contentId="main-content" menuId="main-menu" side="end">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>BumpAlert</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false">
          <ion-item button routerLink="/detection" routerDirection="root" detail="false">
            <ion-icon slot="start" name="speedometer-outline"></ion-icon>
            <ion-label>Detection</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item button routerLink="/dashboard" routerDirection="root" detail="false">
            <ion-icon slot="start" name="navigate-outline"></ion-icon>
            <ion-label>Navigate</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item button routerLink="/trip-summary" routerDirection="root" detail="false">
            <ion-icon slot="start" name="list-outline"></ion-icon>
            <ion-label>Trip Summary</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
